fastapi
uvicorn
pydantic
python-multipart
langchain
langchain-google-genai
langchain-community
langchain-qdrant
langchain-experimental
qdrant-client
google-generativeai
rank_bm25
pypdf
numpy
python-dotenv
aiofiles