fastapi
uvicorn
pydantic
python-multipart
langchain==0.3.27
langchain-google-genai==2.1.12
langchain-community==0.3.31
langchain-qdrant==0.2.1
langchain-experimental==0.3.4
langchain-core==0.3.80
langchain-text-splitters==0.3.11
qdrant-client
google-generativeai
rank_bm25
pypdf
numpy
python-dotenv
aiofiles
google-genai